body {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.filter {
  background-color: #eee;
  color: #929292;
  text-align: center;
  margin-top: 8rem;
  padding-top: 2rem 2rem;
}

.filter h1 {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* .options {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
 */

.options div {
  margin: 0.5rem;
  padding: 0.2rem;
}

.options label {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}

.options input,
.options select {
  border: 0.03rem solid #d0d1d3;
  border-radius: 0.4rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .filter {
    margin-top: 6rem;
  }

  .options {
    display: flex;
    justify-content: space-between;
  }

  .options div {
    flex: 1;
  }
}