* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  font-size: 14px;
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header nav {
  display: flex;
  background-color: #d45749;
  text-align: center;
  flex-direction: column;
  position: fixed;
  padding: 0.5em 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

}

header .main-logo .logo {
  font-size: 25px;
  font-weight: 500;
}

nav .right {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.right span {
  margin: 0 4em;
  font-size: 12px;
  padding: 5px;
  font-weight: 400;
}

nav .right span:hover {
  transform: rotate(-5deg);
}

.dis {
  display: none;
}

@media (min-width: 768px) {
  header nav {
    background-color: #d45749;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 3em;
  }
}

@media (min-width: 1024px) {
  .right span {
    margin: 0;
  }

  .dis {
    display: inline-block;
    margin: 0 !important;
  }
}